@font-face {
    font-family: "Loto";
    src: url("../fonts/Lato-Black.ttf");
    src: url("../fonts/Lato-BlackItalic.ttf");
}


.article_section {
    opacity: 0.7;
    position: relative;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    width: 90%;
    height: auto;
    background-color: #00482b;
    border-radius: 20px;
    width: 90%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.article_section h2,
.article_section h3,
.article_section h4 {
    font-family: "Loto";
    text-align: center;
    color: #fff;
}

.article_section h2 {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 5px;
}

.article_section p {
    color: #fff;
    font-family: "Loto";
    text-shadow: 0px 0px 8px #000000;
    font-size: 25px;
    text-align: justify;
    font-weight: bold;
    line-height: 42px;
    letter-spacing: 2px;
    word-spacing: 8px;
}

.items_list, .paragraphs_list {
    padding-left: 30px;
}

.next-button {
    position: absolute;
    right: 15px;
    bottom: 8px;
    cursor: pointer;
    color: #fff;
    background: #000;
    padding: 10px;
    border-radius: 100%;
    font-size: 22px;
    transition: all 500ms;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

.button-anterior {
    position: absolute;
    left: 15px;
    bottom: 8px;
    cursor: pointer;
    color: #fff;
    background: #000;
    padding: 10px;
    border-radius: 100%;
    font-size: 22px;
    transition: all 500ms;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

.button-anterior:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 0px 0px 6px #000000;
}

.next-button:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 0px 0px 6px #000000;
}

@media (max-width: 600px) {
    .article_section {
        width: 97.5%;
        padding: 5px 10px 50px 10px;
    }
    
    .article_section h2 {
        font-size: 18px;
        letter-spacing: 3px;
    }
    
    .article_section p {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 1px;
        word-spacing: 0px;
    }
}