@font-face {
    font-family: 'Loto';
    src: url('../fonts/Lato-Black.ttf');
    src: url('../fonts/Lato-BlackItalic.ttf');
}



header {
    background-color: #79C000;
    height:150px;
}


h1 {

    color:white;
    text-align: right;
    line-height: 150px;
    text-transform: uppercase;
    font-family: 'Loto';
    padding-right: 20px;
}