@font-face {
    font-family: 'Loto';
    src: url('../fonts/Lato-Black.ttf');
    src: url('../fonts/Lato-BlackItalic.ttf');
}



header {
    background-color: #79C000;
    height:70px;
}


h1 {

    color:white;
    text-align: center;
    line-height: 70px;
    text-transform: uppercase;
    font-family: 'Loto';
    padding-right: 20px;
    letter-spacing: 3px;
}
.container-header {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img-logo {
    width:100px;
    max-width: 150px;
    max-height:70px;
}

.dark-mode {
    color:#fff;
    background-color:#000;
    font-size: 15px;
    padding:15px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
}