@font-face {
    font-family: "Loto";
    src: url("../fonts/Lato-Black.ttf");
    src: url("../fonts/Lato-BlackItalic.ttf");
}

footer {
    width: 100%;
    height: 15vh;
    background-color: #4d4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer a {
    color: #ffffff;
    font-size: 16px;
    font-family: "Loto";
}


.udec-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.udec-link:hover {
    color: #79c000;
    cursor: pointer;
}

.rule {
    text-decoration: none;
    color:#fff;
    transition:all 400ms;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -ms-transition:all 400ms;
    -o-transition:all 400ms;
}

.rule:hover {
    color: #79c000;
    
}